.item1 { grid-area: 🗣️; }
.item2 { grid-area: Ⓜ️; }
.item3 { grid-area: 🟨; }
.item4 { grid-area: ➡️; }
.item5 { grid-area: 👣; }

.grid-container {
  display: grid;
  grid-template-areas:
  '🗣️ 🗣️ 🗣️ 🗣️'
  'Ⓜ️ 🟨 🟨  ➡️'
  'Ⓜ️ 👣 👣 👣';
  grid-gap: 5px;
  background-color: #2196F3;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
