<div class="if" *ngIf="!isLoggedin()">
    <div class="background-wrap">
      <div class="background"></div>
    </div>
    
    <form id="accesspanel" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1 id="litheader">Login</h1>
      <div class="inset">
        <p>
          <input formControlName="email" type="text" name="username" id="email" placeholder="Email address">
        </p>
        <p>
          <input formControlName="password" type="password" name="password" id="password" placeholder="Password">
        </p>
  
        <input class="loginLoginValue" type="hidden" name="service" value="login" />
      </div>
      <p class="p-container">
        <button type="submit" name="Login" id="go" value="Login">Login</button>
      </p>
      <p class="g-container" (click)="login()">
        <button type="button">
          Login with Google
        </button>
      </p>
      
    </form>
  </div>