<div class="box">
  <div class="container">
    <div class="container-insidecontainer-inside">
      <button class="google-login-button">CONTINUE WITH GOOGLE</button>
      <div class="divider">
        <hr class="hr-class">
        <span>or</span>
        <hr class="hr-class">
      </div>
      <div class="login-form">
        <div class="input-group">
          <div class="label-group">
            <label for="login-username">Email address or username</label>
          </div>
          <input type="text" placeholder="Email address or Username">
        </div>
        <div class="input-group">
          <div class="label-group">
            <label for="login-username">Password</label>
          </div>
          <input type="text" placeholder="Password">
        </div>
      </div>
      <div class="login-button-div">
        <button class="button-login">
            <p class="button-element">
              Log In
            </p>
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>